{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIDATA | {{ titleEN }}</title>
    <link rel="stylesheet" href="{% static css %}">
</head>
<body>
    <div class="container">
        <div class="panel">
            <div class="row">
                <div class="col liquid">
                    <h1>{{ titleID }},<br> TO<span> SIDATA.</span></h1>
                    <img src="{% static piclog %}" alt="">
                    <h2>ini slogan catchy bgt serius <span>Pokoknya keren deh</span></h2>
                </div>
                <div class="col login">
                    <form>
                        <div class="titles">
                            <h3>LOGIN HERE</h3>
                            <h4>E-Mail</h4>
                        </div>
                        <div class="form-group">
                            <input type="email" placeholder="your_email@example.com" class="form-input" required>
                        </div>
                        <div class="titles">
                            <h4>Password</h4>
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="********" class="form-input" required>
                        </div>
                        <div class="me">
                            <input type="checkbox" class="remember">
                            <label for="" class="remember">Remember me</label>
                            <label for="" class="forgot">Forgot Password?</label>
                        </div>
                        <section class="cons">
                            <button type="button" class="btn btn-login">Login</button>
                            <button type="button" class="btn btn-signup">Sign Up</button>                            
                        </section>
                        <section class="grey">
                            <p>-OR-</p>
                        </section>
                        <div class="social">
                            <h4>Login with : </h4>
                            <img src="{% static picg %}" alt="" class="icon">
                            <img src="{% static picl %}" alt="" class="icon">
                            <img src="{% static picf %}" alt="" class="icon">
                        </div>
                        <ul>
                            {% for url,text in navigasi %}
                            <li>
                                <a href="{{ url }}">{{ text }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                        <h5>By signing up, you agree to Nama Kita's <span>Term and Conditions & Privacy Policy</span></h5>
                        
                    </form>
                    <h6>©2021 Nama Kita. All Rights Reserved | Design by Mongga</h6>
                </div> 
                
            </div>
        </div>
    </div>
</body>
</html>